@import "tailwindcss";

@theme {
  --font-sans: "Pixelify Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* general styling */

html,
body {
  background-color: var(--color-taupe-900);
  color: var(--color-white);
  overflow-x: hidden;
}

button {
  cursor: pointer;
  background: linear-gradient(#AB6BDB, #A641F4);
  padding: 0.25rem 1rem;
  border: 3px solid var(--color-taupe-200);
}

button:disabled {
  cursor: not-allowed;
  filter: grayscale(1.0) brightness(0.5);
  border-color: var(--color-taupe-500);
}

/* special tailwindcss "css" styled stuff */

.text-highlight {
  background: -webkit-linear-gradient(#AB6BDB, #A641F4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient-purple {
  border-image: linear-gradient(#AB6BDB, #A641F4) 1;
}

.border-gradient-blue {
  border-image: linear-gradient(#6B9CDB, #418FF4) 1;
}
