@import "tailwindcss";

@theme {
  --font-sans: "Pixelify Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--color-taupe-900);
  color: var(--color-white);
  overflow-x: hidden;
}

.text-highlight {
  background: -webkit-linear-gradient(#AB6BDB, #A641F4);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
